schemas/tap3/TAP-0311.xsd (no options).xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.6.0, Date: 30-Sep-2023. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="TAP/TAP-0311"
            targetNamespace="TAP/TAP-0311"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="qualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="dataInterChange" type="DataInterChange"/>
   <xsd:complexType name="DataInterChange">
      <xsd:choice>
         <xsd:element name="transferBatch" type="TransferBatch"/>
         <xsd:element name="notification" type="Notification"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="AsciiString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AccessPointNameNI">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="AccessPointNameOI">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocalTimeStamp">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Code">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="UtcTimeOffsetCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:complexType name="DateTime">
      <xsd:sequence>
         <xsd:element name="localTimeStamp" minOccurs="0" type="LocalTimeStamp"/>
         <xsd:element name="utcTimeOffsetCode" minOccurs="0" type="UtcTimeOffsetCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ActualDeliveryTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="BCDString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AddressStringDigits">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="AbsoluteAmount">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Charge">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="AdvisedCharge">
      <xsd:restriction base="Charge"/>
   </xsd:simpleType>

   <xsd:simpleType name="Currency">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AdvisedChargeCurrency">
      <xsd:restriction base="Currency"/>
   </xsd:simpleType>

   <xsd:simpleType name="AgeOfLocation">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="HexString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="BearerServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledNumber">
      <xsd:restriction base="AddressStringDigits"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledPlace">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CalledRegion">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallEventDetailsCount">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="CallEventStartTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="CallingNumber">
      <xsd:restriction base="AddressStringDigits"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallReference">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallTypeLevel1">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallTypeLevel2">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CallTypeLevel3">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelDestinationNumber">
      <xsd:restriction base="AddressStringDigits"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelInvocationFee">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelServiceKey">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CamelServiceLevel">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CauseForTerm">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CellId">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargeableUnits">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="ChargingTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ChargeDetailTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="ChargingTimeStamp"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="ChargedItem">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedPartyIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedPartyIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedPartyStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargedUnits">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargeRefundIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargeType">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargingId">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ChargingPoint">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ClirIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Commission">
      <xsd:restriction base="Charge"/>
   </xsd:simpleType>

   <xsd:complexType name="CompletionTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="ContentChargingPoint">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentProviderIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentProviderIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentProviderName">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentTransactionCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ContentTransactionType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="CseInformation">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="CustomerIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="CustomerIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolume">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolumeIncoming">
      <xsd:restriction base="DataVolume"/>
   </xsd:simpleType>

   <xsd:simpleType name="DataVolumeOutgoing">
      <xsd:restriction base="DataVolume"/>
   </xsd:simpleType>

   <xsd:simpleType name="DefaultCallHandlingIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="DepositTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="NetworkId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DestinationNetwork">
      <xsd:restriction base="NetworkId"/>
   </xsd:simpleType>

   <xsd:simpleType name="DialledDigits">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="Discount">
      <xsd:restriction base="DiscountValue"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountableAmount">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PercentageRate">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="DiscountRate">
      <xsd:restriction base="PercentageRate"/>
   </xsd:simpleType>

   <xsd:simpleType name="DistanceChargeBandCode">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="UtcTimeOffset">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:complexType name="DateTimeLong">
      <xsd:sequence>
         <xsd:element name="localTimeStamp" minOccurs="0" type="LocalTimeStamp"/>
         <xsd:element name="utcTimeOffset" minOccurs="0" type="UtcTimeOffset"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EarliestCallTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="EquipmentId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="EquipmentIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Esn">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ExchangeRate">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ExchangeRateCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:complexType name="FileAvailableTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="FileCreationTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="FileSequenceNumber">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="FileTypeIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="FixedDiscountValue">
      <xsd:restriction base="DiscountValue"/>
   </xsd:simpleType>

   <xsd:simpleType name="Fnur">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="GuaranteedBitRate">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="Bid">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="HomeBid">
      <xsd:restriction base="Bid"/>
   </xsd:simpleType>

   <xsd:simpleType name="HomeIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="HomeIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="HomeLocationDescription">
      <xsd:restriction base="LocationDescription"/>
   </xsd:simpleType>

   <xsd:simpleType name="HorizontalAccuracyDelivered">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="HorizontalAccuracyRequested">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="HSCSDIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Imei">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Imsi">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="IMSSignallingContext">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="IspIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="IspIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:complexType name="LatestCallTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="LCSRequestTimestamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="LCSTransactionStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocalCurrency">
      <xsd:restriction base="Currency"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationArea">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="LocationIdType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="MaximumBitRate">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="Mdn">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageDescriptionCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="MessageType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Min">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="Msisdn">
      <xsd:restriction base="BCDString"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkAccessIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="NetworkInitPDPContext">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="NonChargedNumber">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="NumberOfDecimalPlaces">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ObjectType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="OperatorSpecInformation">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:complexType name="OrderPlacedTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="OriginatingNetwork">
      <xsd:restriction base="NetworkId"/>
   </xsd:simpleType>

   <xsd:simpleType name="PacketDataProtocolAddress">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="PaidIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PartialTypeIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="PaymentMethod">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PdpAddress">
      <xsd:restriction base="PacketDataProtocolAddress"/>
   </xsd:simpleType>

   <xsd:complexType name="PDPContextStartTimestamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="PlmnId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="PositioningMethod">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="PriorityCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="RapFileSequenceNumber">
      <xsd:restriction base="FileSequenceNumber"/>
   </xsd:simpleType>

   <xsd:simpleType name="RecEntityCode">
      <xsd:restriction base="Code"/>
   </xsd:simpleType>

   <xsd:simpleType name="RecEntityId">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="RecEntityType">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Recipient">
      <xsd:restriction base="PlmnId"/>
   </xsd:simpleType>

   <xsd:simpleType name="ReleaseVersionNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="RequestedDeliveryTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTime"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="ResponseTime">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ResponseTimeCategory">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Sender">
      <xsd:restriction base="PlmnId"/>
   </xsd:simpleType>

   <xsd:simpleType name="ServingBid">
      <xsd:restriction base="Bid"/>
   </xsd:simpleType>

   <xsd:simpleType name="ServingLocationDescription">
      <xsd:restriction base="LocationDescription"/>
   </xsd:simpleType>

   <xsd:simpleType name="ServingNetwork">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SimToolkitIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SMSDestinationNumber">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SMSOriginator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SpecificationVersionNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="SsParameters">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="SupplServiceActionCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="SupplServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TapCurrency">
      <xsd:restriction base="Currency"/>
   </xsd:simpleType>

   <xsd:simpleType name="TapDecimalPlaces">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxableAmount">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxCode">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxIndicator">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxRate">
      <xsd:restriction base="NumberString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxType">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TaxValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TeleServiceCode">
      <xsd:restriction base="HexString"/>
   </xsd:simpleType>

   <xsd:simpleType name="ThirdPartyNumber">
      <xsd:restriction base="AddressStringDigits"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalAdvisedCharge">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalAdvisedChargeRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCallEventDuration">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCharge">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalChargeRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCommission">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalCommissionRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalDataVolume">
      <xsd:restriction base="DataVolume"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalDiscountRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalDiscountValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalTaxRefund">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalTaxValue">
      <xsd:restriction base="AbsoluteAmount"/>
   </xsd:simpleType>

   <xsd:simpleType name="TotalTransactionDuration">
      <xsd:restriction base="TotalCallEventDuration"/>
   </xsd:simpleType>

   <xsd:simpleType name="TrackingFrequency">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TrackingPeriod">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionAuthCode">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionDescriptionSupp">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionDetailDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionIdentifier">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionShortDescription">
      <xsd:restriction base="AsciiString"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransactionStatus">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:complexType name="TransferCutOffTimeStamp">
      <xsd:complexContent>
         <xsd:extension base="DateTimeLong"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:simpleType name="TransparencyIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="UserProtocolIndicator">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="VerticalAccuracyDelivered">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="VerticalAccuracyRequested">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="OperatorSpecInfoList">
      <xsd:list itemType="OperatorSpecInformation"/>
   </xsd:simpleType>

   <xsd:complexType name="BatchControlInfo">
      <xsd:sequence>
         <xsd:element name="sender" minOccurs="0" type="Sender"/>
         <xsd:element name="recipient" minOccurs="0" type="Recipient"/>
         <xsd:element name="fileSequenceNumber" minOccurs="0" type="FileSequenceNumber"/>
         <xsd:element name="fileCreationTimeStamp" minOccurs="0" type="FileCreationTimeStamp"/>
         <xsd:element name="transferCutOffTimeStamp" minOccurs="0" type="TransferCutOffTimeStamp"/>
         <xsd:element name="fileAvailableTimeStamp" minOccurs="0" type="FileAvailableTimeStamp"/>
         <xsd:element name="specificationVersionNumber" minOccurs="0" type="SpecificationVersionNumber"/>
         <xsd:element name="releaseVersionNumber" minOccurs="0" type="ReleaseVersionNumber"/>
         <xsd:element name="fileTypeIndicator" minOccurs="0" type="FileTypeIndicator"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Taxation">
      <xsd:sequence>
         <xsd:element name="taxCode" minOccurs="0" type="TaxCode"/>
         <xsd:element name="taxType" minOccurs="0" type="TaxType"/>
         <xsd:element name="taxRate" minOccurs="0" type="TaxRate"/>
         <xsd:element name="chargeType" minOccurs="0" type="ChargeType"/>
         <xsd:element name="taxIndicator" minOccurs="0" type="TaxIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Taxation" type="Taxation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DiscountApplied">
      <xsd:choice>
         <xsd:element name="fixedDiscountValue" type="FixedDiscountValue"/>
         <xsd:element name="discountRate" type="DiscountRate"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Discounting">
      <xsd:sequence>
         <xsd:element name="discountCode" minOccurs="0" type="DiscountCode"/>
         <xsd:element name="discountApplied" minOccurs="0" type="DiscountApplied"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DiscountingList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Discounting" type="Discounting"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CurrencyConversion">
      <xsd:sequence>
         <xsd:element name="exchangeRateCode" minOccurs="0" type="ExchangeRateCode"/>
         <xsd:element name="numberOfDecimalPlaces" minOccurs="0" type="NumberOfDecimalPlaces"/>
         <xsd:element name="exchangeRate" minOccurs="0" type="ExchangeRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CurrencyConversionList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CurrencyConversion" type="CurrencyConversion"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AccountingInfo">
      <xsd:sequence>
         <xsd:element name="taxation" minOccurs="0" type="TaxationList"/>
         <xsd:element name="discounting" minOccurs="0" type="DiscountingList"/>
         <xsd:element name="localCurrency" minOccurs="0" type="LocalCurrency"/>
         <xsd:element name="tapCurrency" minOccurs="0" type="TapCurrency"/>
         <xsd:element name="currencyConversionInfo" minOccurs="0" type="CurrencyConversionList"/>
         <xsd:element name="tapDecimalPlaces" minOccurs="0" type="TapDecimalPlaces"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UtcTimeOffsetInfo">
      <xsd:sequence>
         <xsd:element name="utcTimeOffsetCode" minOccurs="0" type="UtcTimeOffsetCode"/>
         <xsd:element name="utcTimeOffset" minOccurs="0" type="UtcTimeOffset"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UtcTimeOffsetInfoList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="UtcTimeOffsetInfo" type="UtcTimeOffsetInfo"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RecEntityInformation">
      <xsd:sequence>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="recEntityType" minOccurs="0" type="RecEntityType"/>
         <xsd:element name="recEntityId" minOccurs="0" type="RecEntityId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RecEntityInfoList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="RecEntityInformation" type="RecEntityInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkInfo">
      <xsd:sequence>
         <xsd:element name="utcTimeOffsetInfo" minOccurs="0" type="UtcTimeOffsetInfoList"/>
         <xsd:element name="recEntityInfo" minOccurs="0" type="RecEntityInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MessageDescriptionInformation">
      <xsd:sequence>
         <xsd:element name="messageDescriptionCode" minOccurs="0" type="MessageDescriptionCode"/>
         <xsd:element name="messageDescription" minOccurs="0" type="MessageDescription"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MessageDescriptionInfoList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="MessageDescriptionInformation" type="MessageDescriptionInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SimChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="imsi" minOccurs="0" type="Imsi"/>
         <xsd:element name="msisdn" minOccurs="0" type="Msisdn"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MinChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="min" minOccurs="0" type="Min"/>
         <xsd:element name="mdn" minOccurs="0" type="Mdn"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeableSubscriber">
      <xsd:choice>
         <xsd:element name="simChargeableSubscriber" type="SimChargeableSubscriber"/>
         <xsd:element name="minChargeableSubscriber" type="MinChargeableSubscriber"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Destination">
      <xsd:sequence>
         <xsd:element name="calledNumber" minOccurs="0" type="CalledNumber"/>
         <xsd:element name="dialledDigits" minOccurs="0" type="DialledDigits"/>
         <xsd:element name="calledPlace" minOccurs="0" type="CalledPlace"/>
         <xsd:element name="calledRegion" minOccurs="0" type="CalledRegion"/>
         <xsd:element name="sMSDestinationNumber" minOccurs="0" type="SMSDestinationNumber"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MoBasicCallInformation">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="destination" minOccurs="0" type="Destination"/>
         <xsd:element name="destinationNetwork" minOccurs="0" type="DestinationNetwork"/>
         <xsd:element name="callEventStartTimeStamp" minOccurs="0" type="CallEventStartTimeStamp"/>
         <xsd:element name="totalCallEventDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="simToolkitIndicator" minOccurs="0" type="SimToolkitIndicator"/>
         <xsd:element name="causeForTerm" minOccurs="0" type="CauseForTerm"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkLocation">
      <xsd:sequence>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="callReference" minOccurs="0" type="CallReference"/>
         <xsd:element name="locationArea" minOccurs="0" type="LocationArea"/>
         <xsd:element name="cellId" minOccurs="0" type="CellId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="HomeLocationInformation">
      <xsd:sequence>
         <xsd:element name="homeBid" minOccurs="0" type="HomeBid"/>
         <xsd:element name="homeLocationDescription" minOccurs="0" type="HomeLocationDescription"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GeographicalLocation">
      <xsd:sequence>
         <xsd:element name="servingNetwork" minOccurs="0" type="ServingNetwork"/>
         <xsd:element name="servingBid" minOccurs="0" type="ServingBid"/>
         <xsd:element name="servingLocationDescription" minOccurs="0" type="ServingLocationDescription"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LocationInformation">
      <xsd:sequence>
         <xsd:element name="networkLocation" minOccurs="0" type="NetworkLocation"/>
         <xsd:element name="homeLocationInformation" minOccurs="0" type="HomeLocationInformation"/>
         <xsd:element name="geographicalLocation" minOccurs="0" type="GeographicalLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ImeiOrEsn">
      <xsd:choice>
         <xsd:element name="imei" type="Imei"/>
         <xsd:element name="esn" type="Esn"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceCode">
      <xsd:choice>
         <xsd:element name="teleServiceCode" type="TeleServiceCode"/>
         <xsd:element name="bearerServiceCode" type="BearerServiceCode"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="BasicService">
      <xsd:sequence>
         <xsd:element name="serviceCode" minOccurs="0" type="BasicServiceCode"/>
         <xsd:element name="transparencyIndicator" minOccurs="0" type="TransparencyIndicator"/>
         <xsd:element name="fnur" minOccurs="0" type="Fnur"/>
         <xsd:element name="userProtocolIndicator" minOccurs="0" type="UserProtocolIndicator"/>
         <xsd:element name="guaranteedBitRate" minOccurs="0" type="GuaranteedBitRate"/>
         <xsd:element name="maximumBitRate" minOccurs="0" type="MaximumBitRate"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallTypeGroup">
      <xsd:sequence>
         <xsd:element name="callTypeLevel1" minOccurs="0" type="CallTypeLevel1"/>
         <xsd:element name="callTypeLevel2" minOccurs="0" type="CallTypeLevel2"/>
         <xsd:element name="callTypeLevel3" minOccurs="0" type="CallTypeLevel3"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeDetail">
      <xsd:sequence>
         <xsd:element name="chargeType" minOccurs="0" type="ChargeType"/>
         <xsd:element name="charge" minOccurs="0" type="Charge"/>
         <xsd:element name="chargeableUnits" minOccurs="0" type="ChargeableUnits"/>
         <xsd:element name="chargedUnits" minOccurs="0" type="ChargedUnits"/>
         <xsd:element name="chargeDetailTimeStamp" minOccurs="0" type="ChargeDetailTimeStamp"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeDetailList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargeDetail" type="ChargeDetail"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxInformation">
      <xsd:sequence>
         <xsd:element name="taxCode" minOccurs="0" type="TaxCode"/>
         <xsd:element name="taxValue" minOccurs="0" type="TaxValue"/>
         <xsd:element name="taxableAmount" minOccurs="0" type="TaxableAmount"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxInformationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TaxInformation" type="TaxInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DiscountInformation">
      <xsd:sequence>
         <xsd:element name="discountCode" minOccurs="0" type="DiscountCode"/>
         <xsd:element name="discount" minOccurs="0" type="Discount"/>
         <xsd:element name="discountableAmount" minOccurs="0" type="DiscountableAmount"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeInformation">
      <xsd:sequence>
         <xsd:element name="chargedItem" minOccurs="0" type="ChargedItem"/>
         <xsd:element name="exchangeRateCode" minOccurs="0" type="ExchangeRateCode"/>
         <xsd:element name="callTypeGroup" minOccurs="0" type="CallTypeGroup"/>
         <xsd:element name="chargeDetailList" minOccurs="0" type="ChargeDetailList"/>
         <xsd:element name="taxInformation" minOccurs="0" type="TaxInformationList"/>
         <xsd:element name="discountInformation" minOccurs="0" type="DiscountInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargeInformationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargeInformation" type="ChargeInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceUsed">
      <xsd:sequence>
         <xsd:element name="basicService" minOccurs="0" type="BasicService"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
         <xsd:element name="hSCSDIndicator" minOccurs="0" type="HSCSDIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceUsedList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BasicServiceUsed" type="BasicServiceUsed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ThirdPartyInformation">
      <xsd:sequence>
         <xsd:element name="thirdPartyNumber" minOccurs="0" type="ThirdPartyNumber"/>
         <xsd:element name="clirIndicator" minOccurs="0" type="ClirIndicator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsDestination">
      <xsd:sequence>
         <xsd:element name="accessPointNameNI" minOccurs="0" type="AccessPointNameNI"/>
         <xsd:element name="accessPointNameOI" minOccurs="0" type="AccessPointNameOI"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ThreeGcamelDestination">
      <xsd:choice>
         <xsd:element name="camelDestinationNumber" type="CamelDestinationNumber"/>
         <xsd:element name="gprsDestination" type="GprsDestination"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CamelServiceUsed">
      <xsd:sequence>
         <xsd:element name="camelServiceLevel" minOccurs="0" type="CamelServiceLevel"/>
         <xsd:element name="camelServiceKey" minOccurs="0" type="CamelServiceKey"/>
         <xsd:element name="defaultCallHandling" minOccurs="0" type="DefaultCallHandlingIndicator"/>
         <xsd:element name="exchangeRateCode" minOccurs="0" type="ExchangeRateCode"/>
         <xsd:element name="taxInformation" minOccurs="0" type="TaxInformationList"/>
         <xsd:element name="discountInformation" minOccurs="0" type="DiscountInformation"/>
         <xsd:element name="camelInvocationFee" minOccurs="0" type="CamelInvocationFee"/>
         <xsd:element name="threeGcamelDestination" minOccurs="0" type="ThreeGcamelDestination"/>
         <xsd:element name="cseInformation" minOccurs="0" type="CseInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MobileOriginatedCall">
      <xsd:sequence>
         <xsd:element name="basicCallInformation" minOccurs="0" type="MoBasicCallInformation"/>
         <xsd:element name="locationInformation" minOccurs="0" type="LocationInformation"/>
         <xsd:element name="equipmentIdentifier" minOccurs="0" type="ImeiOrEsn"/>
         <xsd:element name="basicServiceUsedList" minOccurs="0" type="BasicServiceUsedList"/>
         <xsd:element name="supplServiceCode" minOccurs="0" type="SupplServiceCode"/>
         <xsd:element name="thirdPartyInformation" minOccurs="0" type="ThirdPartyInformation"/>
         <xsd:element name="camelServiceUsed" minOccurs="0" type="CamelServiceUsed"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallOriginator">
      <xsd:sequence>
         <xsd:element name="callingNumber" minOccurs="0" type="CallingNumber"/>
         <xsd:element name="clirIndicator" minOccurs="0" type="ClirIndicator"/>
         <xsd:element name="sMSOriginator" minOccurs="0" type="SMSOriginator"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MtBasicCallInformation">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="callOriginator" minOccurs="0" type="CallOriginator"/>
         <xsd:element name="originatingNetwork" minOccurs="0" type="OriginatingNetwork"/>
         <xsd:element name="callEventStartTimeStamp" minOccurs="0" type="CallEventStartTimeStamp"/>
         <xsd:element name="totalCallEventDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="simToolkitIndicator" minOccurs="0" type="SimToolkitIndicator"/>
         <xsd:element name="causeForTerm" minOccurs="0" type="CauseForTerm"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MobileTerminatedCall">
      <xsd:sequence>
         <xsd:element name="basicCallInformation" minOccurs="0" type="MtBasicCallInformation"/>
         <xsd:element name="locationInformation" minOccurs="0" type="LocationInformation"/>
         <xsd:element name="equipmentIdentifier" minOccurs="0" type="ImeiOrEsn"/>
         <xsd:element name="basicServiceUsedList" minOccurs="0" type="BasicServiceUsedList"/>
         <xsd:element name="camelServiceUsed" minOccurs="0" type="CamelServiceUsed"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BasicServiceCodeList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BasicServiceCode" type="BasicServiceCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SupplServiceUsed">
      <xsd:sequence>
         <xsd:element name="supplServiceCode" minOccurs="0" type="SupplServiceCode"/>
         <xsd:element name="supplServiceActionCode" minOccurs="0" type="SupplServiceActionCode"/>
         <xsd:element name="ssParameters" minOccurs="0" type="SsParameters"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformation" minOccurs="0" type="ChargeInformation"/>
         <xsd:element name="basicServiceCodeList" minOccurs="0" type="BasicServiceCodeList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SupplServiceEvent">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="locationInformation" minOccurs="0" type="LocationInformation"/>
         <xsd:element name="equipmentIdentifier" minOccurs="0" type="ImeiOrEsn"/>
         <xsd:element name="supplServiceUsed" minOccurs="0" type="SupplServiceUsed"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GsmChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="imsi" minOccurs="0" type="Imsi"/>
         <xsd:element name="msisdn" minOccurs="0" type="Msisdn"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuChargeableSubscriber">
      <xsd:choice>
         <xsd:element name="gsmChargeableSubscriber" type="GsmChargeableSubscriber"/>
         <xsd:element name="minChargeableSubscriber" type="MinChargeableSubscriber"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ScuBasicInformation">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ScuChargeableSubscriber"/>
         <xsd:element name="chargedPartyStatus" minOccurs="0" type="ChargedPartyStatus"/>
         <xsd:element name="nonChargedNumber" minOccurs="0" type="NonChargedNumber"/>
         <xsd:element name="clirIndicator" minOccurs="0" type="ClirIndicator"/>
         <xsd:element name="originatingNetwork" minOccurs="0" type="OriginatingNetwork"/>
         <xsd:element name="destinationNetwork" minOccurs="0" type="DestinationNetwork"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuChargeType">
      <xsd:sequence>
         <xsd:element name="messageStatus" minOccurs="0" type="MessageStatus"/>
         <xsd:element name="priorityCode" minOccurs="0" type="PriorityCode"/>
         <xsd:element name="distanceChargeBandCode" minOccurs="0" type="DistanceChargeBandCode"/>
         <xsd:element name="messageType" minOccurs="0" type="MessageType"/>
         <xsd:element name="messageDescriptionCode" minOccurs="0" type="MessageDescriptionCode"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScuTimeStamps">
      <xsd:sequence>
         <xsd:element name="depositTimeStamp" minOccurs="0" type="DepositTimeStamp"/>
         <xsd:element name="completionTimeStamp" minOccurs="0" type="CompletionTimeStamp"/>
         <xsd:element name="chargingPoint" minOccurs="0" type="ChargingPoint"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServiceCentreUsage">
      <xsd:sequence>
         <xsd:element name="basicInformation" minOccurs="0" type="ScuBasicInformation"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="servingNetwork" minOccurs="0" type="ServingNetwork"/>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="chargeInformation" minOccurs="0" type="ChargeInformation"/>
         <xsd:element name="scuChargeType" minOccurs="0" type="ScuChargeType"/>
         <xsd:element name="scuTimeStamps" minOccurs="0" type="ScuTimeStamps"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsChargeableSubscriber">
      <xsd:sequence>
         <xsd:element name="chargeableSubscriber" minOccurs="0" type="ChargeableSubscriber"/>
         <xsd:element name="pdpAddress" minOccurs="0" type="PdpAddress"/>
         <xsd:element name="networkAccessIdentifier" minOccurs="0" type="NetworkAccessIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsBasicCallInformation">
      <xsd:sequence>
         <xsd:element name="gprsChargeableSubscriber" minOccurs="0" type="GprsChargeableSubscriber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="gprsDestination" minOccurs="0" type="GprsDestination"/>
         <xsd:element name="callEventStartTimeStamp" minOccurs="0" type="CallEventStartTimeStamp"/>
         <xsd:element name="totalCallEventDuration" minOccurs="0" type="TotalCallEventDuration"/>
         <xsd:element name="causeForTerm" minOccurs="0" type="CauseForTerm"/>
         <xsd:element name="partialTypeIndicator" minOccurs="0" type="PartialTypeIndicator"/>
         <xsd:element name="pDPContextStartTimestamp" minOccurs="0" type="PDPContextStartTimestamp"/>
         <xsd:element name="networkInitPDPContext" minOccurs="0" type="NetworkInitPDPContext"/>
         <xsd:element name="chargingId" minOccurs="0" type="ChargingId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="RecEntityCodeList">
      <xsd:list itemType="RecEntityCode"/>
   </xsd:simpleType>

   <xsd:complexType name="GprsNetworkLocation">
      <xsd:sequence>
         <xsd:element name="recEntity" minOccurs="0" type="RecEntityCodeList"/>
         <xsd:element name="locationArea" minOccurs="0" type="LocationArea"/>
         <xsd:element name="cellId" minOccurs="0" type="CellId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsLocationInformation">
      <xsd:sequence>
         <xsd:element name="gprsNetworkLocation" minOccurs="0" type="GprsNetworkLocation"/>
         <xsd:element name="homeLocationInformation" minOccurs="0" type="HomeLocationInformation"/>
         <xsd:element name="geographicalLocation" minOccurs="0" type="GeographicalLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsServiceUsed">
      <xsd:sequence>
         <xsd:element name="iMSSignallingContext" minOccurs="0" type="IMSSignallingContext"/>
         <xsd:element name="dataVolumeIncoming" minOccurs="0" type="DataVolumeIncoming"/>
         <xsd:element name="dataVolumeOutgoing" minOccurs="0" type="DataVolumeOutgoing"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GprsCall">
      <xsd:sequence>
         <xsd:element name="gprsBasicCallInformation" minOccurs="0" type="GprsBasicCallInformation"/>
         <xsd:element name="gprsLocationInformation" minOccurs="0" type="GprsLocationInformation"/>
         <xsd:element name="equipmentIdentifier" minOccurs="0" type="ImeiOrEsn"/>
         <xsd:element name="gprsServiceUsed" minOccurs="0" type="GprsServiceUsed"/>
         <xsd:element name="camelServiceUsed" minOccurs="0" type="CamelServiceUsed"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentTransactionBasicInfo">
      <xsd:sequence>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="orderPlacedTimeStamp" minOccurs="0" type="OrderPlacedTimeStamp"/>
         <xsd:element name="requestedDeliveryTimeStamp" minOccurs="0" type="RequestedDeliveryTimeStamp"/>
         <xsd:element name="actualDeliveryTimeStamp" minOccurs="0" type="ActualDeliveryTimeStamp"/>
         <xsd:element name="totalTransactionDuration" minOccurs="0" type="TotalTransactionDuration"/>
         <xsd:element name="transactionStatus" minOccurs="0" type="TransactionStatus"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyIdentification">
      <xsd:sequence>
         <xsd:element name="chargedPartyIdType" minOccurs="0" type="ChargedPartyIdType"/>
         <xsd:element name="chargedPartyIdentifier" minOccurs="0" type="ChargedPartyIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargedPartyIdentification" type="ChargedPartyIdentification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyHomeIdentification">
      <xsd:sequence>
         <xsd:element name="homeIdType" minOccurs="0" type="HomeIdType"/>
         <xsd:element name="homeIdentifier" minOccurs="0" type="HomeIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyHomeIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargedPartyHomeIdentification" type="ChargedPartyHomeIdentification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyLocation">
      <xsd:sequence>
         <xsd:element name="locationIdType" minOccurs="0" type="LocationIdType"/>
         <xsd:element name="locationIdentifier" minOccurs="0" type="LocationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyLocationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ChargedPartyLocation" type="ChargedPartyLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyEquipment">
      <xsd:sequence>
         <xsd:element name="equipmentIdType" minOccurs="0" type="EquipmentIdType"/>
         <xsd:element name="equipmentId" minOccurs="0" type="EquipmentId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargedPartyInformation">
      <xsd:sequence>
         <xsd:element name="chargedPartyIdList" minOccurs="0" type="ChargedPartyIdList"/>
         <xsd:element name="chargedPartyHomeIdList" minOccurs="0" type="ChargedPartyHomeIdList"/>
         <xsd:element name="chargedPartyLocationList" minOccurs="0" type="ChargedPartyLocationList"/>
         <xsd:element name="chargedPartyEquipment" minOccurs="0" type="ChargedPartyEquipment"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentProvider">
      <xsd:sequence>
         <xsd:element name="contentProviderIdType" minOccurs="0" type="ContentProviderIdType"/>
         <xsd:element name="contentProviderIdentifier" minOccurs="0" type="ContentProviderIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentProviderIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ContentProvider" type="ContentProvider"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InternetServiceProvider">
      <xsd:sequence>
         <xsd:element name="ispIdType" minOccurs="0" type="IspIdType"/>
         <xsd:element name="ispIdentifier" minOccurs="0" type="IspIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InternetServiceProviderIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="InternetServiceProvider" type="InternetServiceProvider"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Network">
      <xsd:sequence>
         <xsd:element name="networkIdType" minOccurs="0" type="NetworkIdType"/>
         <xsd:element name="networkIdentifier" minOccurs="0" type="NetworkIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NetworkList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Network" type="Network"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServingPartiesInformation">
      <xsd:sequence>
         <xsd:element name="contentProviderName" minOccurs="0" type="ContentProviderName"/>
         <xsd:element name="contentProviderIdList" minOccurs="0" type="ContentProviderIdList"/>
         <xsd:element name="internetServiceProviderIdList" minOccurs="0" type="InternetServiceProviderIdList"/>
         <xsd:element name="networkList" minOccurs="0" type="NetworkList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdvisedChargeInformation">
      <xsd:sequence>
         <xsd:element name="paidIndicator" minOccurs="0" type="PaidIndicator"/>
         <xsd:element name="paymentMethod" minOccurs="0" type="PaymentMethod"/>
         <xsd:element name="advisedChargeCurrency" minOccurs="0" type="AdvisedChargeCurrency"/>
         <xsd:element name="advisedCharge" minOccurs="0" type="AdvisedCharge"/>
         <xsd:element name="commission" minOccurs="0" type="Commission"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentServiceUsed">
      <xsd:sequence>
         <xsd:element name="contentTransactionCode" minOccurs="0" type="ContentTransactionCode"/>
         <xsd:element name="contentTransactionType" minOccurs="0" type="ContentTransactionType"/>
         <xsd:element name="objectType" minOccurs="0" type="ObjectType"/>
         <xsd:element name="transactionDescriptionSupp" minOccurs="0" type="TransactionDescriptionSupp"/>
         <xsd:element name="transactionShortDescription" minOccurs="0" type="TransactionShortDescription"/>
         <xsd:element name="transactionDetailDescription" minOccurs="0" type="TransactionDetailDescription"/>
         <xsd:element name="transactionIdentifier" minOccurs="0" type="TransactionIdentifier"/>
         <xsd:element name="transactionAuthCode" minOccurs="0" type="TransactionAuthCode"/>
         <xsd:element name="dataVolumeIncoming" minOccurs="0" type="DataVolumeIncoming"/>
         <xsd:element name="dataVolumeOutgoing" minOccurs="0" type="DataVolumeOutgoing"/>
         <xsd:element name="totalDataVolume" minOccurs="0" type="TotalDataVolume"/>
         <xsd:element name="chargeRefundIndicator" minOccurs="0" type="ChargeRefundIndicator"/>
         <xsd:element name="contentChargingPoint" minOccurs="0" type="ContentChargingPoint"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
         <xsd:element name="advisedChargeInformation" minOccurs="0" type="AdvisedChargeInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentServiceUsedList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ContentServiceUsed" type="ContentServiceUsed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContentTransaction">
      <xsd:sequence>
         <xsd:element name="contentTransactionBasicInfo" minOccurs="0" type="ContentTransactionBasicInfo"/>
         <xsd:element name="chargedPartyInformation" minOccurs="0" type="ChargedPartyInformation"/>
         <xsd:element name="servingPartiesInformation" minOccurs="0" type="ServingPartiesInformation"/>
         <xsd:element name="contentServiceUsed" minOccurs="0" type="ContentServiceUsedList"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerIdentification">
      <xsd:sequence>
         <xsd:element name="customerIdType" minOccurs="0" type="CustomerIdType"/>
         <xsd:element name="customerIdentifier" minOccurs="0" type="CustomerIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TrackingCustomerIdentification" type="TrackingCustomerIdentification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerHomeId">
      <xsd:sequence>
         <xsd:element name="homeIdType" minOccurs="0" type="HomeIdType"/>
         <xsd:element name="homeIdentifier" minOccurs="0" type="HomeIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerHomeIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TrackingCustomerHomeId" type="TrackingCustomerHomeId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerLocation">
      <xsd:sequence>
         <xsd:element name="locationIdType" minOccurs="0" type="LocationIdType"/>
         <xsd:element name="locationIdentifier" minOccurs="0" type="LocationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerLocList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TrackingCustomerLocation" type="TrackingCustomerLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerEquipment">
      <xsd:sequence>
         <xsd:element name="equipmentIdType" minOccurs="0" type="EquipmentIdType"/>
         <xsd:element name="equipmentId" minOccurs="0" type="EquipmentId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackingCustomerInformation">
      <xsd:sequence>
         <xsd:element name="trackingCustomerIdList" minOccurs="0" type="TrackingCustomerIdList"/>
         <xsd:element name="trackingCustomerHomeIdList" minOccurs="0" type="TrackingCustomerHomeIdList"/>
         <xsd:element name="trackingCustomerLocList" minOccurs="0" type="TrackingCustomerLocList"/>
         <xsd:element name="trackingCustomerEquipment" minOccurs="0" type="TrackingCustomerEquipment"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LCSSPIdentification">
      <xsd:sequence>
         <xsd:element name="contentProviderIdType" minOccurs="0" type="ContentProviderIdType"/>
         <xsd:element name="contentProviderIdentifier" minOccurs="0" type="ContentProviderIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LCSSPIdentificationList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="LCSSPIdentification" type="LCSSPIdentification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ISPList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="InternetServiceProvider" type="InternetServiceProvider"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LCSSPInformation">
      <xsd:sequence>
         <xsd:element name="lCSSPIdentificationList" minOccurs="0" type="LCSSPIdentificationList"/>
         <xsd:element name="iSPList" minOccurs="0" type="ISPList"/>
         <xsd:element name="networkList" minOccurs="0" type="NetworkList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerIdentification">
      <xsd:sequence>
         <xsd:element name="customerIdType" minOccurs="0" type="CustomerIdType"/>
         <xsd:element name="customerIdentifier" minOccurs="0" type="CustomerIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TrackedCustomerIdentification" type="TrackedCustomerIdentification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerHomeId">
      <xsd:sequence>
         <xsd:element name="homeIdType" minOccurs="0" type="HomeIdType"/>
         <xsd:element name="homeIdentifier" minOccurs="0" type="HomeIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerHomeIdList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TrackedCustomerHomeId" type="TrackedCustomerHomeId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerLocation">
      <xsd:sequence>
         <xsd:element name="locationIdType" minOccurs="0" type="LocationIdType"/>
         <xsd:element name="locationIdentifier" minOccurs="0" type="LocationIdentifier"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerLocList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TrackedCustomerLocation" type="TrackedCustomerLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerEquipment">
      <xsd:sequence>
         <xsd:element name="equipmentIdType" minOccurs="0" type="EquipmentIdType"/>
         <xsd:element name="equipmentId" minOccurs="0" type="EquipmentId"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrackedCustomerInformation">
      <xsd:sequence>
         <xsd:element name="trackedCustomerIdList" minOccurs="0" type="TrackedCustomerIdList"/>
         <xsd:element name="trackedCustomerHomeIdList" minOccurs="0" type="TrackedCustomerHomeIdList"/>
         <xsd:element name="trackedCustomerLocList" minOccurs="0" type="TrackedCustomerLocList"/>
         <xsd:element name="trackedCustomerEquipment" minOccurs="0" type="TrackedCustomerEquipment"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LCSQosRequested">
      <xsd:sequence>
         <xsd:element name="lCSRequestTimestamp" minOccurs="0" type="LCSRequestTimestamp"/>
         <xsd:element name="horizontalAccuracyRequested" minOccurs="0" type="HorizontalAccuracyRequested"/>
         <xsd:element name="verticalAccuracyRequested" minOccurs="0" type="VerticalAccuracyRequested"/>
         <xsd:element name="responseTimeCategory" minOccurs="0" type="ResponseTimeCategory"/>
         <xsd:element name="trackingPeriod" minOccurs="0" type="TrackingPeriod"/>
         <xsd:element name="trackingFrequency" minOccurs="0" type="TrackingFrequency"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LCSQosDelivered">
      <xsd:sequence>
         <xsd:element name="lCSTransactionStatus" minOccurs="0" type="LCSTransactionStatus"/>
         <xsd:element name="horizontalAccuracyDelivered" minOccurs="0" type="HorizontalAccuracyDelivered"/>
         <xsd:element name="verticalAccuracyDelivered" minOccurs="0" type="VerticalAccuracyDelivered"/>
         <xsd:element name="responseTime" minOccurs="0" type="ResponseTime"/>
         <xsd:element name="positioningMethod" minOccurs="0" type="PositioningMethod"/>
         <xsd:element name="trackingPeriod" minOccurs="0" type="TrackingPeriod"/>
         <xsd:element name="trackingFrequency" minOccurs="0" type="TrackingFrequency"/>
         <xsd:element name="ageOfLocation" minOccurs="0" type="AgeOfLocation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LocationServiceUsage">
      <xsd:sequence>
         <xsd:element name="lCSQosRequested" minOccurs="0" type="LCSQosRequested"/>
         <xsd:element name="lCSQosDelivered" minOccurs="0" type="LCSQosDelivered"/>
         <xsd:element name="chargingTimeStamp" minOccurs="0" type="ChargingTimeStamp"/>
         <xsd:element name="chargeInformationList" minOccurs="0" type="ChargeInformationList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LocationService">
      <xsd:sequence>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="recEntityCode" minOccurs="0" type="RecEntityCode"/>
         <xsd:element name="callReference" minOccurs="0" type="CallReference"/>
         <xsd:element name="trackingCustomerInformation" minOccurs="0" type="TrackingCustomerInformation"/>
         <xsd:element name="lCSSPInformation" minOccurs="0" type="LCSSPInformation"/>
         <xsd:element name="trackedCustomerInformation" minOccurs="0" type="TrackedCustomerInformation"/>
         <xsd:element name="locationServiceUsage" minOccurs="0" type="LocationServiceUsage"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CallEventDetail">
      <xsd:choice>
         <xsd:element name="mobileOriginatedCall" type="MobileOriginatedCall"/>
         <xsd:element name="mobileTerminatedCall" type="MobileTerminatedCall"/>
         <xsd:element name="supplServiceEvent" type="SupplServiceEvent"/>
         <xsd:element name="serviceCentreUsage" type="ServiceCentreUsage"/>
         <xsd:element name="gprsCall" type="GprsCall"/>
         <xsd:element name="contentTransaction" type="ContentTransaction"/>
         <xsd:element name="locationService" type="LocationService"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="CallEventDetailList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CallEventDetail" type="CallEventDetail"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TotalAdvisedChargeValue">
      <xsd:sequence>
         <xsd:element name="advisedChargeCurrency" minOccurs="0" type="AdvisedChargeCurrency"/>
         <xsd:element name="totalAdvisedCharge" minOccurs="0" type="TotalAdvisedCharge"/>
         <xsd:element name="totalAdvisedChargeRefund" minOccurs="0" type="TotalAdvisedChargeRefund"/>
         <xsd:element name="totalCommission" minOccurs="0" type="TotalCommission"/>
         <xsd:element name="totalCommissionRefund" minOccurs="0" type="TotalCommissionRefund"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TotalAdvisedChargeValueList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="TotalAdvisedChargeValue" type="TotalAdvisedChargeValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AuditControlInfo">
      <xsd:sequence>
         <xsd:element name="earliestCallTimeStamp" minOccurs="0" type="EarliestCallTimeStamp"/>
         <xsd:element name="latestCallTimeStamp" minOccurs="0" type="LatestCallTimeStamp"/>
         <xsd:element name="totalCharge" minOccurs="0" type="TotalCharge"/>
         <xsd:element name="totalChargeRefund" minOccurs="0" type="TotalChargeRefund"/>
         <xsd:element name="totalTaxRefund" minOccurs="0" type="TotalTaxRefund"/>
         <xsd:element name="totalTaxValue" minOccurs="0" type="TotalTaxValue"/>
         <xsd:element name="totalDiscountValue" minOccurs="0" type="TotalDiscountValue"/>
         <xsd:element name="totalDiscountRefund" minOccurs="0" type="TotalDiscountRefund"/>
         <xsd:element name="totalAdvisedChargeValueList" minOccurs="0" type="TotalAdvisedChargeValueList"/>
         <xsd:element name="callEventDetailsCount" minOccurs="0" type="CallEventDetailsCount"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TransferBatch">
      <xsd:sequence>
         <xsd:element name="batchControlInfo" minOccurs="0" type="BatchControlInfo"/>
         <xsd:element name="accountingInfo" minOccurs="0" type="AccountingInfo"/>
         <xsd:element name="networkInfo" minOccurs="0" type="NetworkInfo"/>
         <xsd:element name="messageDescriptionInfo" minOccurs="0" type="MessageDescriptionInfoList"/>
         <xsd:element name="callEventDetails" minOccurs="0" type="CallEventDetailList"/>
         <xsd:element name="auditControlInfo" minOccurs="0" type="AuditControlInfo"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Notification">
      <xsd:sequence>
         <xsd:element name="sender" minOccurs="0" type="Sender"/>
         <xsd:element name="recipient" minOccurs="0" type="Recipient"/>
         <xsd:element name="fileSequenceNumber" minOccurs="0" type="FileSequenceNumber"/>
         <xsd:element name="rapFileSequenceNumber" minOccurs="0" type="RapFileSequenceNumber"/>
         <xsd:element name="fileCreationTimeStamp" minOccurs="0" type="FileCreationTimeStamp"/>
         <xsd:element name="fileAvailableTimeStamp" minOccurs="0" type="FileAvailableTimeStamp"/>
         <xsd:element name="transferCutOffTimeStamp" minOccurs="0" type="TransferCutOffTimeStamp"/>
         <xsd:element name="specificationVersionNumber" minOccurs="0" type="SpecificationVersionNumber"/>
         <xsd:element name="releaseVersionNumber" minOccurs="0" type="ReleaseVersionNumber"/>
         <xsd:element name="fileTypeIndicator" minOccurs="0" type="FileTypeIndicator"/>
         <xsd:element name="operatorSpecInformation" minOccurs="0" type="OperatorSpecInfoList"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>